:root{
    --fundo: #29201d;
    --verde-musgo: #706f3f;
    --branco: #ffffff;
}


#body-login{
    background-color: var(--fundo);
    padding: 20px;
}

.campo-login{
    background-color: var(--verde-musgo);
}

.titulo-login{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 100;
    color: var(--branco);
    font-size: 80px;
    margin: 0;
    padding: 0;
}

.titulo2-login{
    color: var(--verde-musgo);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 50px;
    margin: 0;
    padding: 0;
    margin-top: 28px;
    margin-left: 5px;
}

.subtitulo-login{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: var(--branco);
    margin: 0;
    padding: 0;
    margin-left: 30px;
}

.inline-flex{
    display: inline-flex;
}

.trem{
    width: 60px;
    height: auto;
    margin: 0;
    padding: 0;
    padding-right: 10px;
}

.informacao-site-login{
    display: inline-block;
}














































































































































/* SERENNA







































































































































































































/* THAIS







































































































































































































/* ANNIE







