:root {
    --fundo: #29201d;
    --verde-musgo: #706f3f;
    --branco: #ffffff;
    --amarelo-bebe: #ebdfa9;
    --verde-escuro-musgo: #39381b;
    --preto: #000000;
    --verde-medio-musgo: #504f25;
    --verde-preto-musgo: #2f2f18;
}


#body-login {
    background-color: var(--fundo);
    padding: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
}

.campo-login {
    background-color: var(--verde-musgo);
    color: var(--branco);
    padding: 30px;
    border-radius: 25px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.titulo-login {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: var(--branco);
    font-size: 80px;
    margin: 0;
    padding: 0;
}

.titulo2-login {
    color: var(--verde-musgo);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin: 0;
    padding: 0;
    margin-top: 28px;
    margin-left: 5px;
}

.subtitulo-login {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--branco);
    margin: 0;
    padding: 0;
    margin-left: 30px;
}

.inline-flex {
    display: inline-flex;
}

.trem {
    width: 60px;
    height: auto;
    margin: 0;
    padding: 0;
    padding-right: 10px;
}

.inline-block {
    display: inline-block;
}

#login {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#botao-login {
    background-color: var(--amarelo-bebe);
    border: 0;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}

#email {
    background-color: var(--fundo);
    border: 0;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 20px;
    color: var(--branco);
    font-size: 20px;
}

#senha {
    background-color: var(--fundo);
    border: 0;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 20px;
    color: var(--branco);
    font-size: 20px;
}

label {
    font-size: 20px;
}

#imagem-estacao {
    margin-left: 30px;
    width: 1100px;
    height: 800px;
    border-radius: 35px;
}











































































































































/* SERENNA  */

#body-tela-inicial {
    background-color: var(--verde-musgo)
}

.botao-tela-inicial {
    background: var(--verde-medio-musgo);
    color: var(--branco);
    border: 4px solid var(--preto);
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 640px;
    padding: 55px;
    white-space: normal;
    font-weight: bold;
    gap: 30px;
}

.imagem-cadastro-sensores {
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.container-botoes {
    display: flex;
    gap: 30px;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
}

#navbar-tela-inicial {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    color: var(--branco);
    padding: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.imagem-usuario {
    width: 70px;
    height: 70px;
    margin-left: 10px;

}

#botao-sair {
    background-color: var(--fundo);
    color: var(--branco);
    border-radius: 30px;
    border: none;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;

}








































































































































































































/* THAIS */
#cadastro-sensores {
    background-color: var(--verde-musgo);
    color: var(--branco);
}

.topo {
    display: flex;
    justify-content: flex-end;
}

#botao2 {
    background-color: var(--verde-musgo);
    border-radius: 5px;
    color: var(--branco);
}

.fundo-cadastros {
    background-color: var(--verde-medio-musgo);
    display: grid;
    place-items: center;
    width: fit-content;
    padding: 15px;
    border-radius: 20px;
}

.cadastros {
    background-color: var(--verde-escuro-musgo);
    display: grid;
    place-items: center;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
}

#img_usuario {
    height: 40%;
    width: 20%;
}

#tipo_de_dado{
    background-color: var(--verde-escuro-musgo);
}







































































































































































































/* ANNIE